html {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: medium;
}

@font-face {
    font-family: Norwester;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/norwester.otf");
}

.page {
    margin: 0 auto;
    width: 80rem;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    display: block;
}

.headline {
    font-family: Norwester, Helvetica, Verdana, sans-serif;
}

.address {
    font-style: normal;
}